/* Contenedor general del bloque */
.contenedor-marcador {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 2px rgba(52, 73, 94, 0.27);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Layout principal */
.formulario-marcador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

/* Panel izquierdo (formulario) */
.lado-izquierdo {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* Panel derecho (imagen) */
.lado-derecho {
    width: 45%;
    padding-left: 3rem;
    border-left: 2px solid #d4d4d4;
}

.lado-derecho img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

/* Estilo del formulario */
.formulario {
    max-width: 90vw;
    width: 540px;
    margin: 2rem auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* Etiquetas */
.formulario label {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
    color: #1a1a1a;
}

/* Inputs y textarea */
.formulario input[type="text"],
.formulario input[type="url"],
.formulario textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

.formulario textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 100px;
}

/* Botón */
.formulario button {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding: 0.75rem;
    background-color: #525ca1;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.formulario button:hover {
    background-color: #3730a3;
}


@media (max-width: 1300px) {
    .lado-derecho {
        display: none;
    }


}