.page-header {
    text-align: center;
    margin: 2rem 0;
    color: #333;
}

.bookmarks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2rem;
}

.bookmark-card {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    color: #222;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bookmark-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.bookmark-header {
    margin-bottom: 0.5rem;
}

.bookmark-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #111;
}

.bookmark-url {
    font-size: 0.9rem;
    color: #555;
    word-break: break-all;
    margin-bottom: 0.5rem;
}

.bookmark-description {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.3rem;
}

.bookmark-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    
}

.visit-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.6rem;
    margin-top: 1rem;
    font-weight: bold;
    background-color: #525ca1;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.visit-button:hover {
    background-color: #3730a3;
}

.bookmark-tags {
    margin: 10px 0;
}

.bookmark-tag {
    display: inline-block;
    background-color: #dcdcdc;
    color: #333;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.85em;
    margin: 2px;
    margin-bottom: 6px;
    text-decoration: none;
}

/* BUSCADOR */
.buscador {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    margin: 2rem 0;
    margin-bottom: 1rem;
}

.search-form {
    background-color: white;
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    gap: 0.5rem;
}

.search-container input[type="text"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    width: 250px;
    font-size: 1rem;
    background-color: #ecf0f1;
    color: #2c3e50;
}

.search-container input:focus {
    outline: none;
    box-shadow: inset 0 -2.5px 0 #525ca1;
    caret-color: #525ca1;
}


.search-container input::placeholder {
    color: #7f8c8d;
}

.search-container button {
    padding: 0.5rem 1.2rem;
    border: none;
    background-color: #525ca1;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-container button:hover {
    background-color: #3730a3;
}


@media (max-width: 1500px) {
    .bookmarks {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1124px) {
    .bookmarks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .bookmarks {
        grid-template-columns: 1fr;
    }
}