.contenedor-perfil {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 2px #34495e46;
    width: 100%;
    height: 100%;
}

.tarjeta-perfil {
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

#contenedor-izq {
    background-color: #3a4b61;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 10px;
}

#caja-textos {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#contenedor-der {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 3rem;
    border-radius: 10px;
}

.contenedor-imagen {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid rgb(220, 220, 220);
}

.contenedor-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-nombre {
    font-size: 49px;
    font-weight: 700;
    color: #2e3e51;
    margin-bottom: 1.2rem;
}

.texto-email,
.texto-registro,
.texto-marcadores {
    font-size: 22px;
    font-weight: 500;
}

.contenedor-config {
    display: flex;
    margin-top: 30px;
}

.boton-config {
    background-color: #2e3e51;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.3s;
}

@media (max-width: 1400px) {
    .tarjeta-perfil {
        justify-content: flex-start;
        flex-direction: column;
    }

    #contenedor-izq {
        width: 100%;
    }

    .contenedor-imagen {
        width: 150px;
    }

    #contenedor-der {
        width: 100%;
    }

    .texto-nombre {
        font-size: 42px;
    }
}

@media (max-width: 1024px) {
    .tarjeta-perfil {
        padding: 1rem;
        gap: 1rem;
    }

    .texto-nombre {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .texto-nombre {
        font-size: 30px;
        margin-bottom: 0.6rem;
    }

    .texto-email,
    .texto-registro,
    .texto-marcadores {
        font-size: 20px;
    }

    #contenedor-izq {
        align-items: center;
    }
}

/* ventana emergente */
.fondo-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.contenido-popup {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    min-width: 390px;
    text-align: left;
}

.contenido-popup h2 {
    margin-bottom: 25px;
    background-color: #2e3e51;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem 1rem;
    color: white;
}

.campo-formulario {
    margin-bottom: 15px;
}

.campo-formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo-formulario input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.botones-popup {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.botones-popup button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 44%;
}

#btnAceptar {
    background-color: #2e3e51;
    color: white;
}

#btnCancelar {
    background-color: #3d3d3d;
    color: white;
}
