.contenedor-perfil {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 2px #34495e46;
    width: 100%;
    height: 100%;
}

.tarjeta-perfil {
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

#contenedor-izq {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 10px;
}

#caja-textos {
    box-shadow: 0 0 2px #34495e84;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-top: 2.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#contenedor-der {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 3rem;
    border-left: 2px solid #d4d4d4;
}

.contenedor-imagen {
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid rgb(220, 220, 220);
}

.contenedor-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-nombre {
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
}

.texto-email,
.texto-registro,
.texto-marcadores {
    font-size: 21px;
    font-weight: 500;
    color: #444444;
}

.texto-registro,
.texto-marcadores {
    color: #181818;
}

.contenedor-config {
    display: flex;
    margin-top: 30px;
}

.boton-config {
    background-color: #2e3e51;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.3s;
}

/* ventana emergente */

#formEditarPerfil {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.campo-formulario {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    box-shadow: 0 0 2px #707070;
    border-radius: 10px;
}

.campo-formulario label {
    display: block;
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: 300;
}

.campo-formulario input {
    background-color: none;
    border: none;
    width: 100%;
    padding: 1px;
    font-size: 17px;
}

.campo-formulario input:focus {
    outline: none;
}

.botones-popup {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3rem;
    height: 100%;
}

.botones-popup button {
    padding: 14px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
}

#btnAceptar {
    background-color: #34495e;
    color: white;
}

#btnCancelar {
    background-color: #777777;
    color: white;
}

/* Responsive */
@media (max-width: 1400px) {
    .tarjeta-perfil {
        justify-content: flex-start;
        flex-direction: column;
        padding: 2rem;
    }

    #contenedor-izq {
        width: 100%;
        align-items: center;
    }

    #caja-textos {
        width: 100%;
        text-align: center;
    }

    #contenedor-der {
        border: none;
        padding: 0;
        margin-top: 1.3rem;
    }

    #formEditarPerfil {
        gap: 1.3rem;
    }

    .contenedor-imagen {
        width: 150px;
    }

    #contenedor-der {
        width: 100%;
    }

    .botones-popup {
        margin-top: 1rem;
        gap: 2rem;
    }
}

@media (max-width: 1024px) {
    .tarjeta-perfil {
        gap: 1.5rem;
    }

    .texto-nombre {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .tarjeta-perfil {
        padding: 1rem;
    }

    .texto-nombre {
        font-size: 29px;
    }

    .texto-email,
    .texto-registro,
    .texto-marcadores {
        font-size: 20px;
    }

    .botones-popup {
        gap: 1rem;
    }
}
