{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
{% endblock %}

{% block title %}
Panel Control Admin
{% endblock %}

{% block h1 %}
Panel de Control 
{% endblock %}

{% block main %}

<div id="contenedor-tablas">

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Fecha registro</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <th>{{ usuario.id }}</th>
                <td>{{ usuario.nombre_completo }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.fecha_registro }}</td>
                <td>
                    <div>
                        {% if usuario.estado %}
                        Activo
                        {% else %}
                        Bloqueado
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="btns">
                        {% if usuario.estado %}
                        <a href="" class="rojo"><i data-lucide="lock-keyhole"></i></a>
                        {% else %}
                        <a href="" class="verde"><i data-lucide="lock-keyhole-open"></i></a>
                        {% endif %}
                        <a href="{{ url_for('usuarios.modificar_cuenta', accion='eliminar', id_usuario=usuario.id) }}" class="eliminar"><i data-lucide="trash-2"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
        <tfoot></tfoot>
    </table>

</div>


{% endblock %}