{% extends "base.html" %} {% block title %} Inicio {% endblock%} {% block
extra_css%}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
/>
{%endblock%} {% block h1 %} Inicio {% endblock %} {% block main %}

<div class="page-header">
    <h2>Bienvenido,</h2>
    <p>Gestiona tu colección de marcadores.</p>
</div>

<div class="buscador">
    <form
        action="{{ url_for('buscar_marcador') }}"
        method="post"
        class="search-form"
    >
        <div class="search-container">
            <input
                type="text"
                name="buscador_marcadores"
                placeholder="Buscar marcadores..."
                autofocus
            />
            <button type="submit">Buscar</button>
        </div>
    </form>

    <div class="etiquetas-usadas">
        <div class="filtro-etiquetas">
            <span class="etiquetas-label"><i data-lucide="funnel"></i> <strong>Filtrar por etiqueta:</strong></span>
            {% for etiqueta in etiquetas_mas_usadas %}
            <a href="{{ url_for('buscar_marcador',filtro_etiqueta=etiqueta[0]) }}" class="tag-link">{{ etiqueta[0] }}</a>
            {% endfor %} 
        </div>
    </div>
</div>

<div class="bookmarks">
    {% if marcadores %} {% for marcador, etiquetas in marcadores %}
    <div class="bookmark-card">
        <div class="caja-editar-link">
            <a href="{{ url_for('marcador', accion='editar', id_marcador=marcador.id) }}" class="editar-link"><i data-lucide="square-pen"></i></a>
            <a href="{{ url_for('marcador', accion='eliminar', id_marcador=marcador.id) }}" class="eliminar-link"><i data-lucide="trash-2"></i></a>
        </div>

        <div class="bookmark-header">
            <h3 class="bookmark-title">{{ marcador.nombre }}</h3>
        </div>

        <p class="bookmark-description">{{ marcador.descripcion }}</p>

        <div class="bookmark-tags">
            {% for etiqueta in etiquetas %}
            <a href="{{ url_for('buscar_marcador',filtro_etiqueta=etiqueta) }}" class="bookmark-tag">{{ etiqueta }}</a>
            {% endfor %}
        </div>

        <p class="bookmark-url">{{ marcador.enlace }}</p>

        <div class="bookmark-footer">
            <a href="{{ marcador.enlace }}" target="_blank" class="visit-button"
                >Visitar<i data-lucide="link-2"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No hay marcadores. Añade alguno!</p>
{% endif %} {% endblock %}
