{% extends "base.html" %} {% block title %} Inicio {% endblock%} {% block
extra_css%}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
/>
{%endblock%} {% block h1 %} Inicio {% endblock %} {% block main %}
<!-- BLOQUE FLASH -->
{% with mensajes = get_flashed_messages(with_categories=true) %} {% if mensajes
%}
<div class="mensajes-flash">
    {% for categoria, mensaje in mensajes %}
    <div class="{{ categoria }}">
        <!-- Icono de alerta -->
        <!-- Se utiliza un icono diferente según la categoría -->
        <i
            data-lucide="{{ 'alert-circle' if categoria == 'error' else 'check-circle' }}"
        ></i>
        {{ mensaje }}
        <!-- Barra de progreso -->
        <div class="progress-bar"></div>
        <!-- Botón para cerrar el mensaje -->
        <i
            class="close-flash"
            data-lucide="x"
            onclick="this.parentElement.remove()"
        ></i>
    </div>
    {% endfor %}
</div>
{% endif %} {% endwith %}
<div class="page-header">
    <h2>Bienvenido,</h2>
    <p>Gestiona tu colección de marcadores.</p>
</div>

<div class="buscador">
    <form
        action="{{ url_for('buscar_marcador') }}"
        method="post"
        class="search-form"
    >
        <div class="search-container">
            <input
                type="text"
                name="buscador_marcadores"
                placeholder="Buscar marcadores..."
                autofocus
            />
            <button type="submit">Buscar</button>
        </div>
    </form>
</div>

<div class="bookmarks">
    {% if marcadores %} {% for marcador, etiquetas in marcadores %}
    <div class="bookmark-card">
        <div class="bookmark-header">
            <h3 class="bookmark-title">{{ marcador.nombre }}</h3>
        </div>

        <p class="bookmark-description">{{ marcador.descripcion }}</p>

        <div class="bookmark-tags">
            {% for etiqueta in etiquetas %}
            <a href="#" class="bookmark-tag">{{ etiqueta }}</a>
            {% endfor %}
        </div>

        <p class="bookmark-url">{{ marcador.enlace }}</p>

        <div class="bookmark-footer">
            <a href="{{ marcador.enlace }}" target="_blank" class="visit-button"
                >Visitar<i data-lucide="link-2"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No hay marcadores. Añade alguno!</p>
{% endif %} {% endblock %}
