{%extends "base.html"%} {%block title%} Añadir Marcador {%endblock%} {%block extra_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/marcador.css') }}" />
{%endblock%} {%block h1%} {{ "Editar Marcador" if editar else "Añadir Marcador" }} {%endblock%}
{%block main%}

<!-- BLOQUE PERFIL -->
<div class="contenedor-marcador">
    <div class="formulario-marcador">
        <div class="lado-izquierdo">
            <form method="post" action="{{ url_for('marcador') }}">
                <div class="formulario">
                    <label for="nombre">Nombre del marcador:</label>
                    <input
                        type="text"
                        id="nombre"
                        name="nombre"
                        placeholder="Añade un nombre al marcador."
                        maxlength="70"
                        value="{{ marcador.nombre if editar else '' }}"
                        required
                    />

                    <label for="enlace">Enlace:</label>
                    <input
                        type="url"
                        id="enlace"
                        name="enlace"
                        placeholder="https://enlace-del-marcador.com"
                        maxlength="160"
                        value="{{ marcador.enlace if editar else '' }}"
                        required
                    />

                    <label for="descripcion">Descripción:</label>
                    <textarea
                        id="descripcion"
                        name="descripcion"
                        placeholder="Añade una descripción al marcador."
                        maxlength="160"
                        required
                    >{{ marcador.descripcion if editar else '' }}
                    </textarea>

                    <label for="etiquetas">Etiquetas (separadas por comas):</label>
                    <input
                        type="text"
                        id="etiquetas"
                        name="etiquetas"
                        placeholder="Etiqueta1, Etiqueta2, Etiqueta3"
                        maxlength="70"
                        value="{{ etiquetas if etiquetas else '' }}"
                        required
                    />

                    <button type="submit">
                        {{ "Editar Marcador" if editar else "Añadir Marcador" }}
                    </button>
                </div>
            </form>
        </div>

        <div class="lado-derecho">
            <img
                src="{{ url_for('static', filename='images/imagen_actualizar_marcador.png' if editar else'images/imagen_marcadores.png') }}"
                alt="Imagen decorativa"
            />
        </div>
    </div>
</div>

{% endblock %}
