<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Perfil{% endblock %} {% block icon %}
<link rel="icon" href="{{ url_for('static', filename='images/icono_perfil.png') }}" />
{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}" />
{% endblock %} {% block h1 %}Perfil de usuario{% endblock %} {% block main %}

<!-- BLOQUE PERFIL -->
<div class="contenedor-perfil">
    <div class="tarjeta-perfil js-tarjeta-perfil">
        <div id="contenedor-izq">
            <div class="contenedor-imagen">
                <!-- foto_perfil -->
                <img src="{{ foto_perfil }}" alt="profile" />
            </div>

            <div class="texto-nombre">{{ nombre_completo }}</div>
            <!-- nombre_completo -->

            <div class="texto-email">{{ email }}</div>
            <!-- email -->

            <div id="caja-textos">
                <div class="texto-registro">Miembro desde el<br><b><i>{{ fecha_registro }}</i></b></div>
                <!-- registro -->
                <div class="texto-marcadores"><b>{{ num_marcadores }}</b> marcadores</div>
                <!-- num_marcadores -->
            </div>
        </div>

        <div id="contenedor-der">
            <form method="POST" action="{{url_for('perfil')}}" id="formEditarPerfil">
                <div class="campo-formulario">
                    <label for="nombre">Nombre completo</label>
                    <input
                        type="text"
                        id="nombre"
                        name="nombre-completo"
                        value=""
                        placeholder="{{ nombre_completo }}"
                        minlength="5"
                    maxlength="30"
                />
                    <!-- nombre_completo -->
                </div>
                <div class="campo-formulario">
                    <label for="imagen">Imagen url</label>
                    <input
                        type="url"
                        id="imagen"
                        name="foto-perfil"
                        value=""
                        placeholder="{{ foto_perfil }}"
                    />
                    <!-- imagen -->
                </div>
                <div class="campo-formulario">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" id="correo" name="email" value="" placeholder="{{ email }}" />
                    <!-- email -->
                </div>
                <div class="campo-formulario">
                    <label for="contrasena">Contraseña</label>
                    <input
                        type="password"
                        id="contrasena"
                        name="contraseña"
                        value=""
                        placeholder="********"
                        minlength="8"
                        maxlength="20"
                />
                </div>

                <div class="botones-popup">
                    <button type="submit" name="editar" id="btnAceptar">Guardar</button>
                    <button type="reset" id="btnCancelar">Deshacer</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %} {% block extra_js %}
<script src="https://unpkg.com/lucide@latest" defer></script>
<script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/perfil.js') }}" defer></script>
{% endblock %}
